click
cycler
decorator
imageio
imutils
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
networkx
pyparsing
python-dateutil
PyWavelets
scipy
six
Werkzeug
flask
tensorflow-cpu
gunicorn
pillow
numpy
opencv-python-headless
